.header {
    color: #fff;
    background: url("../img/content/header-bg.jpg") 50% 50% / cover no-repeat;
}
.header__top {
    padding-bottom: 130px;
}
.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.header__contact {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 35px;
    padding-bottom: 20px;
}
.phone-number {
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    font-size: 20px;
}
.nav__list {
    display: flex;
    gap: 2vw;
}
.nav__wrap {
    display: flex;
    gap: 2vw;
}
.nav__item {
    display: block;
}
.nav__link {
    position: relative;
}
.nav__link::after {
    content: '';
    top: 20px;
    left: 0;
    height: 4px;
    width: 0;
    background: var(--accent-color);
    position: absolute;
    transition: .4s;
}
.nav__link:hover::after {
    width: 100%;
}
/* ====================== */

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: end;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--accent-bg);
    transition: all .5s;
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu {
    overflow: hidden;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}
.burger__contacts a{
    display: none;
}
.nav__item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav__item path,
.nav__item rect {
    fill: #333;
}

.header__hero {
    padding-bottom: 150px;
}
.hero__inner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.hero__title {
    font-weight: 700;
    font-size: 38px;
    padding-bottom: 30px;
}
.button{
    border: 0;
    background: var(--accent-color);
    color: #333;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    padding: 20px 30px;
    width: 245px;
    height: 65px;
}
.hero__subtitle {
    font-weight: 700;
    font-size: 32px;
    padding: 45px 0 45px 0;
}
.hero__details {
    display: flex;
    align-items: center;
    width: 483px;
    height: 107px; 
}
.hero__details div {
    display: flex;
    align-items: center;
}
.hero__details h1 {
    font-weight: 400;
    font-size: 128px;
    line-height: .84%;
}
.hero__details span {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    padding-right: 35px;
}
.hero__info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 300px;
}

.hero__info span {
    font-weight: 700;
}
